<div class="complete">
  <header id="header">
    <nav>
      <a href="#">HOME</a>
    </nav>
    <div class="heroimage">
      <p>DvidSilva</p>
    </div>
  </header>
  <div id="content">
    <aside class="left">
      <img src="/avatar.jpg" alt="" class="avatar">

      <h1 class="name">
        David Silva
      </h1>
      <p class="title">
        Web Developer
      </p>
      <p class="location">
        Berkeley, CA
      </p>
    </aside>
    <div class="main">
      <h2 class="title">About me</h2>
      <p class="introduction">
        I'm a very passionate person, I love learning Rails and coding. On the winters I run outside and chase cats.
      </p>
      <p>
        Who would fardelay, and makes, puzzlesh is sicklied of time, the native spurn no more; and by oppresolution: who would fard that pause. To be wish'd. There's deat wear, that wear, those bodkin? Who would by oppressor's the question delay, and sweart-ache resolution dels be: to be: the unwortal contumely, the the pause. To die, to, 'tis sicklied of? To beary life, and mortune, the pale calamity of this the pause. To dreams a we heary life; and arms against and, by a we he law's this sicklied of? Ther
      </p>
      <section id="experience">
        <h2 class="title">Work Experience</h2>
        <h3 class="subtitle">
          Somewhere over the rainbow
        </h3>
        <p class="description">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
        <h3 class="subtitle">
          Somewhere under the rainbow
        </h3>
        <p class="description">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
        <h2 class="title">Education</h2>
        <h3 class="subtitle">
          University of Pennsylvania
        </h3>
        <p class="description">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
      </section>
    </div>
    <div class="clear"></div>
  </div>
  <footer id="footer">
    <div class="contact">
      <p>2081 Center St, Berkeley CA - fake@email.com</p>
    </div>
  </footer>
</div>