<style>
  body > * {
    border: 1px solid red;
    /*display: block;*/
  }
  #content .left {
    float: left;
    width: 20%;
  }
  #content .main {
    float: left;
    /*width: 78%;*/
  }
  #content {
    clear: both;
    width: 100%;
  }
  .clear {
    clear:both;
  }
</style>

<header id="header">
  header#header
  <nav>
    nav
    <a href="#">a</a>
  </nav>
  <div class="heroimage">
    div.heroimage
  </div>
</header>
<div id="content">
  div#content
  <aside class="left">
    aside.left
    <img src="" alt="">
    img.picture
    <h1 class="name">
      h1.name
    </h1>
    <p class="title">
      p.title
    </p>
  </aside>
  <div class="main">
    div.main
    <h2 class="title">h2.title</h2>
    <p class="introduction">
      p.introduction
    </p>
    <div id="experience">
      <h2 class="title">h2.title</h2>
      <h3 class="subtitle">
        h3.subtitle
      </h3>
      <p class="description">
        p.description
      </p>
    </div>
  </div>
  <div class="clear">
    div.clear
  </div>
</div>
<footer id="footer">
  footer#footer
  <div class="contact">
    div.contact
  </div>
</footer>